#Container {
    position: relative;
    width: 500px;
    height: 500px;
    background: black;
}

#klikMeDanDivje {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    border-radius: 20px;
    background: gold;
    transition:1s linear;
}